<div ng-controller="demoCtrl" style="width:100%;height:100%;">

    <header>
        <h1 class="text-primary" style='font-family: monospace;'>&nbsp;<strong>ngPopup</strong> - lightweight modaless dialog for Angular.</h1>
        <ul class="text-primary" style="font-size: large;">
            <li>jQuery Independent</li>
            <li>Latest Angular Supported (1.4.2)</li>
            <li>Full Customized Theme</li>
        </ul>
    </header>

    <div id="demo1" style="position: relative;height: 70vh;width:50%;float:left;background: whitesmoke;padding:2em;border-bottom: 1px solid lightgrey;">
        <p class="text-primary" style="font-size: large;">Two-way Binding: </p>
        <div class="input-group" style="width:20%;">
            <span class="input-group-addon">Width</span>
            <input type="number" class="form-control" ng-model="ngPopupOption.width">
        </div>
        <div class="input-group" style="width:20%;">
            <span class="input-group-addon">Height</span>
            <input type="number" class="form-control" ng-model="ngPopupOption.height">
        </div>
        <div class="input-group" style="width:20%;">
            <span class="input-group-addon">Top</span>
            <input type="number" class="form-control" ng-model="ngPopupOption.position.top">
        </div>
        <div class="input-group" style="width:20%;">
            <span class="input-group-addon">Left</span>
            <input type="number" class="form-control" ng-model="ngPopupOption.position.left">
        </div>
        <button class="btn btn-primary" ng-click="toggleView()" style="margin-top: 1em;">Toggle Visible</button><br>
        <button class="btn btn-primary" ng-click="toggleTitleBar()"  style="margin-top: 1em;">Toggle Title Bar</button><br>
        <button class="btn btn-primary" ng-click="toggleDrag()"  style="margin-top: 1em;">Toggle Draggable</button><br>
        <button class="btn btn-primary" ng-click="toggleResize()"  style="margin-top: 1em;">Toggle Resizable</button>

    </div>
    <div id="demo2" style="position: relative;height: 70vh;width:50%;float:left;background: whitesmoke;padding:2em;border-bottom: 1px solid lightgrey;">
        <p class="text-primary" style="font-size: large;">Events: </p>
        <p class="text-primary" style="font-size: medium;">ngPopup supports <strong>Open</strong>, <strong>Close</strong>, <strong>Drag Start</strong>, <strong>Drag End</strong> and <strong>Resize</strong> events</p>
        <ul style="height:80%;width:35%;overflow-y: auto;" class="text-primary">
            <li ng-repeat="item in msgList track by $index">{{item}}</li>
        </ul>
    </div>
    <div id="demo3" style="position: relative;height: 70vh;width:50%;float:left;background: whitesmoke;padding:2em;border-bottom: 1px solid lightgrey;">
        <p class="text-primary" style="font-size: large;">Examples: Floating Video Player</p>

    </div>
    <div id="demo4" style="position: relative;height: 70vh;width:50%;float:left;background: whitesmoke;padding:2em;border-bottom: 1px solid lightgrey;">
        <p class="text-primary" style="font-size: large;">Examples: Popover Window</p>
        <div style="width:80%;height:70%;border:1px solid lightgrey;padding:2em;color:grey;" ng-click="popDialog($event)">Click This Area</div>
    </div>
    <ng-pop-up option="ngPopupOption"></ng-pop-up>
    <ng-pop-up option="ngPopupOptionDemo2"></ng-pop-up>
    <ng-pop-up option="ngPopupOptionDemo3"></ng-pop-up>
    <ng-pop-up option="ngPopupOptionDemo4"></ng-pop-up>

</div>

